 body {
     margin: 0;
     padding: 0;


     height: 100%;
     width: 100%;
     user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;

 }



 .hero {
     position: relative;
     width: 100%;
     overflow: hidden;
     height: 100vh;

 }

 /* -------------------- 1 Back Ground -------------------- */
 .back_Ground_Vdo {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: -1;

 }


 /* -------------------- Logo -------------------- */
 .Tmwta_Logo_Container {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-top: 1vh;
     justify-content: center;
 }







 /* -------------------- 3 Product -------------------- */
 .Product_Container {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
 }

 .Product_Container .Container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 10vh;
     width: 100%;
     height: 50vh;
 }

 .Product_Container .Container .Product {
     display: flex;
     justify-content: center;

     width: 50%;
     height: 100%;
     position: relative;

 }


 .Product_Container .Container .Product .Product_Left {
     position: absolute;
     left: 18%;
     top: 80%;
     transform: translateY(-50%);
 }

 .Product_Container .Container .Product .Product_Right {

     position: absolute;
     right: -10%;
     top: 80%;
     transform: translateY(-50%);
 }

 .Conten .Images_Btn_Container {
     display: grid;
     grid-auto-flow: column;


 }

 .Product_Container .Container .Service {
     height: 100%;
     width: 50%;
     position: relative;
 }

 .Product_Container .Container .Service .House_Pop {
     left: 60%;
     top: 50%;
     transform: translate(-50%, -50%);
     position: absolute;
     width: 80%;
 }


 .Product_Container .Container .Service .House_Pop .Image_Button img {
     width: 90%;


 }

 /* -------------------- Product Button -------------------- */

 .Product_Buttom_Container {
     display: flex;
     justify-content: center;

 }

 .Product_Buttom_Container .Product_Buttom {
     display: flex;
     justify-content: center;

     width: 50%;
     position: relative;

 }



 .Product_Buttom_Container .Product_Buttom .L {

     position: absolute;
     left: 50%;
     transform: translateX(-90%);
     width: 15vh;

 }

 .Product_Buttom_Container .Product_Buttom .R {

     position: absolute;
     right: 0;

     width: 15vh;

 }

 .Product_Buttom_Container .Service_Button {
     display: flex;

     justify-content: center;
     width: 50%;
 }







 /*------------------------------------------------------------------ 7 Conner */
 .conner {
     position: absolute;
     pointer-events: none;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 2;
 }

 .conner img {
     position: absolute;
     max-width: 80vh;
 }

 .Top_Left {
     top: 0;
     left: 0;
 }

 .Top_Right {
     top: 0;
     right: 0;
 }

 .Bottom_Left {
     bottom: 0;
     left: 0;
 }

 .Bottom_Right {
     bottom: 0;
     right: 0;
 }






 /*------------------------------------------------------------------ IFrame */
 #iframeContainer {
     display: none;
     position: absolute;
     flex-direction: column;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     justify-content: center;
     align-items: center;
     z-index: 3;
 }

 #brandFrame {
     width: 80vw;
     height: 500px;
     border: none;

 }

 .Iframe_btn {
     width: 150px;
 }














 @media (min-aspect-ratio: 16/9) {
     .back_Ground_Vdo {
         width: 100%;
         height: auto;
     }
 }

 @media (max-aspect-ratio: 16/9) {
     .back_Ground_Vdo {
         width: auto;
         height: 100%;
     }
 }