 body {
     margin: 0;
     padding: 0;


     height: 100%;
     width: 100%;
     user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;

 }



 .hero {
     position: relative;
     width: 100%;
     overflow: hidden;
     height: 100vh;

 }

 /*---------- 1 Back Ground ----------*/
 .back_Ground_Vdo {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: -1;
 }



 /*---------- 3 Product ----------*/
 .Product_Container {


     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: flex;
     width: 100%;
 }

 .Product {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 30vh;
     margin-left: 20vh;
 }

 .Product_Container .Product {
     width: 50%;

 }

 .Product_Container .Product>* {
     width: 50%
 }

 .Images_Btn_Container {
     display: flex;
     justify-content: center;
 }


 .Image_Btn {
     position: relative;
     cursor: pointer;
 }

 .Image_Btn img {
     display: block;
     width: 15vh;
     height: auto;
 }

 .Default {
     opacity: 1;
 }

 .Hover {
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0;
 }

 .Image_Btn:hover .Default {
     opacity: 0;
 }

 .Image_Btn:hover .Hover {
     opacity: 1;
 }

 .Button {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
   
     padding: auto;
     width: auto;
     /* border: solid red 1px; */
 }

 .Button img {
     width: 15vh;
 }

 .Button .Btn_Defualt {
     opacity: 1;
 }

 .Button .Btn_Press {
     position: absolute;
     opacity: 0;

 }

 .Button .Btn_Hover {
     position: absolute;
     opacity: 0;
 }

 .Button:hover .Btn_Defualt {
     opacity: 0;
 }


 .Button:hover .Btn_Hover {
     opacity: 1;
 }

 .Button:active .Btn_Press {
     opacity: 1;
 }

 .Button:active .Btn_Hover {
     opacity: 0;
 }

 .Button h3 {
     position: absolute;
     color: #284000;
     top: 0%;
     z-index: 2;
     font-size: 1em;

 }












 /*---------- Logo ----------*/
 .Tmwta_Logo_Container {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 1vh;
 }

 .Logo {
     display: flex;

     flex-direction: row;
     align-items: center;
 }













 /*---------- 7 Conner ----------*/
 .conner {
     position: absolute;
     pointer-events: none;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 2;
 }

 .conner img {
     position: absolute;
     max-width: 80vh;
 }

 .Top_Left {
     top: 0;
     left: 0;
 }

 .Top_Right {
     top: 0;
     right: 0;
 }

 .Bottom_Left {
     bottom: 0;
     left: 0;
 }

 .Bottom_Right {
     bottom: 0;
     right: 0;
 }

 @media (min-aspect-ratio: 16/9) {
     .back_Ground_Vdo {
         width: 100%;
         height: auto;
     }
 }

 @media (max-aspect-ratio: 16/9) {
     .back_Ground_Vdo {
         width: auto;
         height: 100%;
     }
 }