body {
    margin: 0;
    padding: 0;


    height: 100%;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}








.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;

}

/*------------------------------------------------------------------ Back Ground */
.back_Ground_Vdo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}


/*------------------------------------------------------------------ Logo */
.Tmwta_Logo_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2%;
    justify-content: center;
    width: 60vw;
    height: 20vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

#Tmwta_Logo {
    height: 80%;
    position: relative;
}

#Tmwta_Logo img {
    height: 100%;

}

.Amazing_Thai img {

    width: 80%;

}





#Tmwta_Logo .Hover {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
}

#Tmwta_Logo .Hover:hover {
    opacity: 1;
}


.Amazing_Thai {
    position: relative;
    opacity: 1;

}



.Amazing_Thai .Hover {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
}



.Amazing_Thai .Hover:hover {
    opacity: 1;
}


/*------------------------------------------------------------------ IsLand */

.IsLand {
    position: absolute;
    left: 6%;
    top: 65%;
    width: 50%;
    transform: translateY(-50%);

}

.IsLand .Container img {
    width: 100%;
}

/*------------------------------------------------------------------  Product */

.Product_Container {
    position: absolute;
    top: 50%;

    left: 50%;
    transform: translate(-50%, -25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.Product_Container .Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    width: 100%;
    height: 30vh;
}

/* .Product_Buttom {
     border: solid red 1px; 
 } */

.Product_Container .Container .Product {
    display: flex;
    justify-content: center;

    width: 60%;
    height: 100%;
    position: relative;
}


.Product_Container .Container .Product .Product_Left {
    position: absolute;
    left: 13%;
    bottom: 0;

}

.Product_Container .Container .Product .Product_Right {

    position: absolute;
    right: 10%;

    bottom: 0;

}

.Conten .Images_Btn_Container {
    display: grid;
    grid-auto-flow: column;


}

.Product_Container .Container .Service {
    height: 100%;
    width: 40%;
    position: relative;

}

.Product_Container .Container .Service .House_Pop {
    right: 0;
    bottom: 0;
    transform: translateX(10%);
    position: absolute;
    width: 100%;

}

.Product_Container .Container .Service .House_Pop .Image_Button {
    transform: translateY(10%);

}


.Product_Container .Container .Service .House_Pop .Image_Button img {
    width: 90%;


}

.Product_Container .Container .Service .House_Pop .Image_Button .active {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;


}



/*------------------------------------------------------------------ Product Button */

.Product_Buttom_Container {
    display: flex;
    justify-content: center;
    position: relative;

}

.Product_Buttom_Container .Product_Buttom {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    width: 70%;

    position: relative;


}



.Product_Buttom_Container .Product_Buttom .L {

    position: absolute;
    left: 1%;

    margin-top: 0%;
    height: 10vh;
    width: 12vw;

}

.Product_Buttom_Container .Product_Buttom .R {

    position: absolute;
    left: 50%;
    margin-top: 0%;
    transform: translateX(-85%);
    height: 10vh;
    width: 12vw;

}

.Product_Buttom_Container .Product_Buttom .Service_Button {

    position: absolute;
    margin-top: 0%;
    justify-content: center;
    height: 10vh;
    width: 12vw;

    right: 5%;
}







/*------------------------------------------------------------------ Conner */
.conner {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.conner img {
    position: absolute;
    max-width: 80vh;
}

.Top_Left {
    top: 0;
    left: 0;
}

.Top_Right {
    top: 0;
    right: 0;
    width: 25vw;
}

.Bottom_Left {
    bottom: 0;
    left: 0;
    width: 40vw;
}

.Bottom_Right {
    bottom: 0;
    right: 0;
    width: 25vw;
}






/*------------------------------------------------------------------ IFrame */
#iframeContainer {
    display: none;
    position: absolute;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    z-index: 3;
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   
}

#brandFrame {
    width: 90vw;
    height: 90vh;
    border-radius: 10px;
    background: linear-gradient(to bottom, #b4dbe7, #15c6d6);

}

.Iframe_btn {
    margin-top: 1%;
    width: 150px;

}














@media (min-aspect-ratio: 16/9) {
    .back_Ground_Vdo {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back_Ground_Vdo {
        width: auto;
        height: 100%;
    }
}