#L_Product1
{
    background-image: url('../Templete/Product/WELLNESSX_2K_250311_0026.png');
    
}
#L_Product2
{
    background-image: url('../Templete/Product/WELLNESSX_2K_250311_0026.png');
    
}
#L_Product3
{
    background-image: url('../Templete/Product/WELLNESSX_2K_250311_0026.png');
    
}