#Sidebar {
    position: fixed;
    right: -45vw;


    z-index: 3;
    top: 40%;
    transform: translateY(-25%);
    width: 40vw;
    transition: right 0.3s ease-in-out;

}

#Sidebar.open {
    right: -5vw;
  
}

.sidebar .Container {


    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
    justify-content: center;
    /* border: solid purple 1px; */
    align-items: center;
}


.sidebar .Container #Button_Container1 {
    position: relative;

    left: 30%;
}

.sidebar .Container #Button_Container1 .G img
{
    width: 3vw;
    height: 9vh;
}

.sidebar .Container #Button_Container1 .G
{
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar .Container #Button_Container1 .G img:nth-child(1)
{
    position: relative;
    top: 0;
    left: 10%;
}

.sidebar .Container #Button_Container1 .G img:nth-child(2)
{
    position: relative;
   
    left: -15%;
    transform: rotateZ(-10deg);
}





.sidebar .Container #Button_Container2 {
    position: relative;
    left: 15%;
    
}




/* 
.sidebar .Container {
  
} */




.Button_Container {
    display: flex;
    align-items: center;

    width: 100%;
}

.Button_Container .Image {
    position: absolute;
    z-index: 1;

    transform: translate(-10%, -10%);

}

.Button_sidebar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


    height: 80px;
    width: 100%;

}

.Button_sidebar img {
    width: 100%;
    height: 100%;
}

.Button_sidebar .Btn_Defualt {
    opacity: 1;
}

.Button_sidebar .Btn_Press {
    position: absolute;
    opacity: 0;

}

.Button_sidebar .Btn_Hover {
    position: absolute;
    opacity: 0;
}

.Button_sidebar:hover .Btn_Defualt {
    opacity: 0;
}


.Button_sidebar:hover .Btn_Hover {
    opacity: 1;
}

.Button_sidebar:active .Btn_Press {
    opacity: 1;
}

.Button_sidebar:active .Btn_Hover {
    opacity: 0;
}



.Button_sidebar h3 {
    position: absolute;
    color: #284000;
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    z-index: 2;
    left: 20%;
    font-size: 2em;

}


/* .Button_sidebar h3 {
    position: absolute;
    left: 0;
    
    color: #284000;
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    font-size: 1em;

} */


.sidebar .Botton {


    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-left: -25%; */
}

.sidebar .Botton .B {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.Botton img:nth-child(1) {
    position: absolute;
    left: 0%;
    z-index: 1;

}

/* .Botton .B
{
position: absolute;
} */