 body {
     margin: 0;
     padding: 0;


     height: 100%;
     width: 100%;


 }

 .hero {
     position: relative;
     width: 100%;
     overflow: hidden;
     height: 100vh;

 }

 /* 1 Back Ground */
 .back_Ground_Vdo {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: -1;
 }


 .Tmwta_Logo_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
 }

 .Logo {
     display: flex;
     
     flex-direction: row;
     align-items: center;
 }













 /* 7 Conner */
 .conner {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 2;
 }

 .conner img {
     position: absolute;
 }

 .Top_Left {
     top: 0;
     left: 0;
 }

 .Top_Right {
     top: 0;
     right: 0;
 }

 .Bottom_Left {
     bottom: 0;
     left: 0;
 }

 .Bottom_Right {
     bottom: 0;
     right: 0;
 }

 @media (min-aspect-ratio: 16/9) {
     .back_Ground_Vdo {
         width: 100%;
         height: auto;
     }
 }

 @media (max-aspect-ratio: 16/9) {
     .back_Ground_Vdo {
         width: auto;
         height: 100%;
     }
 }